<!DOCTYPE html>

<html lang="en">

<head>
	<title>Spotify Recommender</title>
	<meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="../css/track-table.css">
</head>	
	
<body>
	
<main>	
	<h1 id="title">Welcome to the Spotify recommender</h1>
	<label id="song-title">Search for a song title:</label>
	<input type="text" id="search-input">
	<p>Know a song ID? Input it below!</p>
	<p>Example song ID: 0c6xIDDpzE81m2q797ordA</p>
	<input type="text" id="id-input" value="0c6xIDDpzE81m2q797ordA">
	<button id="search-button">Search</button>
</main>

<h1>Standard Search Table</h1>
<table id="search-table">
</table>

<h1>Greedy Table</h1>
<table id="greedy-table">
</table>

<h1>AI Table</h1>

<script src="/js/app.js"></script>

</body>

</html>
