@font-face {
    font-family: "Montserrat";
    src: url(/css/Montserrat/Montserrat-Regular.ttf);
}

#header-image {
    float: left;
    width: 80px;
}

header {
    height: 100px;
}

header h1 {
    padding-top: 15px;
}

body {
    margin: 10px;
    font-family: "Montserrat", Helvativa, sans-serif;
    color: #B3B3B3;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1DB954;
    color: white;
    border-radius: 30px !important;
}

.btn-playlist {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1DB954;
    color: white !important;
    border-radius: 30px !important;
}

#search-button {
    width: 200px !important;
}

#test-button {
    width: 400px !important;
}

body {
    background-color: #121212;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    border-bottom: 4px solid black;
}

tr:nth-child(even) {
    background: #282828;
}

tr:nth-child(odd) {
    background: #181818;
}